{% extends "layout.html" %}
{% block content %}

<div class="container" style="padding-bottom:75px;">


  <h3> Användarvillkor</h3>
  <h5>Vid användande av denna webbapplikation och dess tjänster accepteras följande villkor. Om du ej accepterar eller
    inte vill bli bunden av dessa villkor
    bör QRave's tjänster inte användas.</h5>
  <hr>
  <ol type="i">
    <li>Vid skapande av konto ansvarar kunden för att all information som anges är korrekt. </li>
    <li>Kunden är själv ansvarig för att användarnamn och lösenord hålls hemligt. Kunden är ansvarig för eventuella köp
      och/eller andra handlingar som sker på kundens konto
      även om det sker av en obehörig person.
    </li>
    <li>Vid köp av evenemangsbiljett gäller ingen ångerrätt, detta i enlighet med Distansavtalslagen (2005:59) 2 kap.
      §11.</li>
    <li>QRave är ej ansvariga för evenemang som publiceras på QRave's webbsida eller att den information som presenteras
      om evenmanget är korrekt.
      Utan respektive arrangör är fullt ansvariga för sina evenemang.</li>
    <li>QRave förbehåller sig rätten att makulera köp och stänga av konton i händelse av att kunden bryter mot dessa
      villkor.</li>
    <li>QRave förebehåller sig rätten att ändra dessa villkor, de uppdaterade villkoren kommer därefter publiceras på denna sida.</li>
  </ol>
</div>

{% endblock content %}