{% extends 'layout.html' %}
{% block content %}

{% if date %}
<div class="card shadow-sm" >
    <div class="card-body text-center">
        <h3 class="card-title">{{event.name}} - {{event.date_start.year}}</h3>
        <hr>
      <p class="card-text">Biljetterna släpps om
          <div id="time" time="{{date}}">
            <h2>
                <span class="hour" id="d"></span>
                <br>
                <span class="date">Dagar</span>
            </h2>
            <h2>
                <span class="hour" id="h"></span>
                <br>
                <span class="date">Timmar</span>
            </h2>
            <h2>
                <span class="hour" id="m"></span>
                <br>
                <span class="date">Minuter</span>
            </h2>
            <h2>
                <span class="hour" id="s"></span>
                <br>
                <span class="date">Sekunder</span>
            </h2>
          </div>
        </p>
    </div>
</div>
{% else %}
<div class="card shadow-sm" >
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">Genom att trycka på “Gå till betalning” så reserveras biljetterna, så att du kan genomföra betalningen i lugn och ro. </p>
      <table class="table">
        <thead>
          <tr>
            <th style="width: 40%;" scope="col">Biljett</th>
            <th class="w-100" scope="col" style="text-align: center;">Antal</th>
            <th class="w-25" scope="col">Pris</th>
          </tr>
        </thead>
        <tbody>
          <form method="POST">
              {% for field in form.tickets %}
              <tr>
                <th scope="row"><span style="word-break: break-all;">{{tickets[field.meta_id.data|int].meta.name}}</span><br><small class="weekday">{{tickets[field.meta_id.data|int].meta.date_start.weekday()}}</small></th>
                <td>      
                        <div class="input-group" style="justify-content: center;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="{{field.form.amount.name}}">-</button>
                            </div>
                            {{field.form.amount(class="form-control input-number", price=(tickets[field.meta_id.data|int].meta.price), min=0, max=(tickets[field.meta_id.data|int].meta.max_per_user), style="text-align: center; max-width: 4rem;")}}
                            {{field.form.meta_id(class="form-control")}}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="{{field.form.amount.name}}">+</button>
                            </div>
                        </div>
                </td>
                <td>{{tickets[field.meta_id.data|int].meta.price}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        Summa:
                    </th>
                    <th></th>
                    <th>
                        <span id="price">0</span>
                    </th>
                </tr>
            </tbody>
          </table>
          <div class="col-6">
              {{form.phone.label(class="form-control-label")}}
              <div class="input-group">
                  {% if form.phone.errors %}
                  {{ form.phone(class="form-control form-control-lg is-invalid") }}    
                  <div class="input-group-append">
                      {{form.submit(class="btn btn-outline-info", style='border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem;', disabled='disabled')}}
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        {{ error}}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.phone(class="form-control")}}
                    <div class="input-group-append">
                        {{form.submit(class="btn btn-outline-info", disabled='disabled')}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>

    </div>
  </div>
    
{% endif %}
{% endblock content %}

{% block head %}
<style>
    #time span {
        padding: 1rem;
        font-size: 2rem;
    }
    #time span.date {
        padding: 1rem;
        font-size: 1rem;
    }
    #time {
        display: flex;
        justify-content: center;
    }
</style>
{% endblock head %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var time = $("#time").attr('time');
        var countDownDate = new Date(time).getTime();
        function timer() {
            var options = {
                timeZone: 'Europe/Stockholm',
                year: 'numeric', month: 'numeric', day: 'numeric',
                hour: 'numeric', minute: 'numeric', second: 'numeric',
            },
            formatter = new Intl.DateTimeFormat([], options)
            var now = new Date(formatter.format(new Date())).getTime();
            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          
            $("#d").html(days);
            $("#h").html(hours);
            $("#m").html(minutes);
            $("#s").html(seconds);

            if (distance < 0) {
              location.reload();
            }
        };

        function setIntervalAndExecute(fn, t) {
            fn();
            return(setInterval(fn, t));
        }

        var i = setIntervalAndExecute(timer, 1000);
        
        $('.weekday').each(function () {
            weekday = ['Måndag', 'Tidsag','Onsdag','Torsdag','Fredag','Lördag','Söndag']
            $(this).html(weekday[parseInt($(this).html())])
        });

        $('.btn-number').each(function () {
            fieldName = $(this).attr('data-field');
            type      = $(this).attr('data-type');
            input = $("input[name='"+fieldName+"']");
            if(type == 'minus' && input.val() == input.attr('min')) {
                $(this).attr('disabled', true);
            }
            if(type == 'plus' && parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }
        });

        var sum = 0;
        $(".input-number").each(function () {
            sum += parseInt($(this).attr('price')) * parseInt($(this).val());
        });
        $('#price').html(sum);
        if (sum==0) {
            $("#submit").attr('disabled', true);
        } else {
            $("#submit").attr('disabled', false);
        }

        if (sum != 0) {
            $('input[type="submit"]').attr('disabled', false);
        }

    });

    $('.btn-number').click(function(e){
        e.preventDefault();
        
        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                
                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                } 
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
    $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
        
        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());
        
        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        var sum = 0;
        $(".input-number").each(function () {
            sum += parseInt($(this).attr('price')) * parseInt($(this).val());
        });
        $('#price').html(sum);
        if (sum==0) {
            $("#submit").attr('disabled', true);
        } else {
            $("#submit").attr('disabled', false);
        }



        
    });
    $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) || 
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    

</script>
{% endblock scripts%}


